.textfield {
    width: 249px;
    height: 87px;
    display: flex;
    flex-direction: column;
}

input{
    padding: 12px 16px;
    border: 1px solid var(--grey-300);
    border-radius: 8px;
}

.labelTextField{
    margin-bottom: 8px;
}

.smallTextField {
    margin-top: 4px;
}