:root {
  --black: #0C1012;
  --white: #FFFFFF;
  --primary-900: #38000E;
  --primary-700: #57101E;
  --primary-500: #94313E;
  --primary-300: #ECB9BD;
  --primary-100: #F8E8E8;
  --grey-900: #1C2D38;
  --grey-700: #747F86;
  --grey-500: #B8BCC1;
  --grey-300: #CBCFD3;
  --grey-100: #F4F4F4;
  --error-400: #DA786B;
  --error-100: #F6E1DF;
  --success-400: #70BE7C;
  --success-100: #DDF3E2;
}

* {
  font-family: Inter, sans-serif;
  /*alt*/
}

h1 {
  font-size: 56px;
  font-weight: 400;
}

h2 {
  font-size: 38px;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  font-weight: 700;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}

.body3 {
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}